/* common */
/* small screen */

body{
  margin: 0;
}
.image{
  background:pink;
  height:100px;
}
.text{
  background:gray;
  height:100px;

}
aside{
  display:none;

}
/* medium screen */
@media (min-width: 0px) and (max-width: 599px) {

}
@media (min-width: 600px) {
  section{
    display:flex;
  }
  .image{
    width: 200px
    /* background: blue; */
  }
  .text{
    flex:1;
  }
}

/* large screen */
@media (min-width: 800px) {
  section{
    width: 800px;
    margin:0 auto;
  }
  aside{
    display:block;
    background-color: plum;


  }
