#menu{
  /* background-color: red; */
}
.title{
  display: flex;
  vertical-align: center;
  height:32px;
  /* width:180px; */;
  padding:10px 0px;;
  margin: 20px;
}
  .title_1{
    box-sizing: border-box;
    display: inline-block;


}
.switch{
  margin-left:auto
}
.tex{
  display: none;
  /* border: 4px solid blue; */
}
.border{
  border-bottom:3px solid black;
}
